.Modal {
  align-items: center;
  position: absolute;
  z-index: 99;
  width: 250px;
  height: 100px;
  background-color: rgb(174, 238, 121);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Modal button {
  border-radius: 5px;
  background-color: burlywood;
}

.Modal button:hover {
  cursor: pointer;
}

.Div {
  padding: 10px;
  text-align: center;
  height: 20px;
}

.hf {
  display: flex;
  height: 30px;
  background-color: rgba(103, 100, 100, 0.3);
  justify-content: center;
}

.Input {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Input input {
  border-radius: 6px;
  width: 300px;
  height: 35px;
  text-align: center;
}
